.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #1c1c1e;
}
.freeBox__gBnnz {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox__gBnnz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__gBnnz > :global(.__wab_flex-container) > *,
.freeBox__gBnnz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gBnnz > :global(.__wab_flex-container) > picture > img,
.freeBox__gBnnz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.value__dvS0:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text___69Tdf {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text___6IRjo {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__eqTy5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__tWpD5:global(.__wab_instance) {
  position: relative;
}
.svg__aIgKi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xkwK {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ckezt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fBhvi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fDQtY {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9Hiz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.value__hGtSf:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__kSqnt {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__zzvZh {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__uXAjb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button___3PF:global(.__wab_instance) {
  position: relative;
}
.svg__oeyAl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___6PNz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__n8W {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ib4W8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__i4UrL {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__y0DZb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.value__aaeZi:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__ipUkA {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__hJxkq {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__sGpov {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__v1VaL:global(.__wab_instance) {
  position: relative;
}
.svg__sXicm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__prVYa {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__lfq4P {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__azfhb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wQLlQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0Dpve {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
