.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.5);
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-top: 1px solid #e5e5ea;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > :global(.__wab_flex-container) > *,
  .section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .section > :global(.__wab_flex-container) > picture > img,
  .section
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.container2 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container2 > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container2 > :global(.__wab_flex-container) > *,
.container2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container2 > :global(.__wab_flex-container) > picture > img,
.container2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container2 {
    max-width: 1024px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container2 > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container2 > :global(.__wab_flex-container) > *,
  .container2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container2 > :global(.__wab_flex-container) > picture > img,
  .container2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 64px;
  }
}
.freeBox__lGoDm {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__lGoDm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__lGoDm > :global(.__wab_flex-container) > *,
.freeBox__lGoDm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lGoDm > :global(.__wab_flex-container) > picture > img,
.freeBox__lGoDm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__filled__lGoDmVchXa > :global(.__wab_flex-container) {
  align-items: flex-start;
}
.text___9OAzv {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  text-align: center;
}
.cartItem:global(.__wab_instance) {
  position: relative;
}
.link {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre-wrap;
  color: #333333;
}
.text___3SQd8 {
  color: #666666 /* plasmic-token: oue-2wLnKUNx */;
  height: auto;
}
.text__toyDy {
  position: relative;
}
.text__fpbmN {
  position: relative;
}
.freeBox__tyVbg {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__tyVbg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__tyVbg > :global(.__wab_flex-container) > *,
.freeBox__tyVbg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tyVbg > :global(.__wab_flex-container) > picture > img,
.freeBox__tyVbg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__xQc3B {
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.svg__ehgdY {
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__stB8 {
  position: relative;
  text-align: center;
}
.text__filled__stB8VchXa {
  text-align: left;
}
.svg__qzbz0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uLiAt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ikE3R {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__coS7R {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__v8Miw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zuW7X {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__v0Srb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vTfWe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oSsNa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lSav6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zeCju {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qQxLw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__f37N {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.freeBox__filled__f37NVchXa {
  top: auto;
  left: auto;
}
.freeBox__sbVwB {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__sbVwB > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__sbVwB > :global(.__wab_flex-container) > *,
.freeBox__sbVwB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sbVwB > :global(.__wab_flex-container) > picture > img,
.freeBox__sbVwB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__yBkaL {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  background: #333333;
  min-width: 0;
  border-radius: 16px;
  padding: 32px;
}
.freeBox__yBkaL > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__yBkaL > :global(.__wab_flex-container) > *,
.freeBox__yBkaL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yBkaL > :global(.__wab_flex-container) > picture > img,
.freeBox__yBkaL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__zdc1D {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #ffffff;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__dg9M {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__dg9M > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__dg9M > :global(.__wab_flex-container) > *,
.freeBox__dg9M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dg9M > :global(.__wab_flex-container) > picture > img,
.freeBox__dg9M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__wnKH {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__uuYid {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotTargetSlot5 {
  color: #ffffff80;
}
.freeBox__pn0UY {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotTargetChildren {
  font-weight: 600;
  color: #ffffff;
  text-align: right;
}
.freeBox__ltRde {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__eEDbj {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__ntpw9 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotTargetSlot {
  font-weight: 600;
  color: #ffffff;
  text-align: right;
}
.freeBox___1Cl6Q {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__jZkhm {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__f9SoG {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotTargetSlot2 {
  font-weight: 600;
  color: #ffffff;
  text-align: right;
}
.button__mmK5:global(.__wab_instance) {
  position: relative;
}
.svg__kq0NH {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__buBz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hh2HY {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nRAz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xdgN1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__wMKv {
  text-align: center;
  text-decoration-line: underline !important;
  color: #ffffff;
}
.svg__xeexz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.separator:global(.__wab_instance) {
  position: relative;
  align-self: flex-end;
  flex-shrink: 0;
}
.freeBox__ybE9O {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__krLQw {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__oCsS {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotTargetSlot4 {
  font-weight: 600;
  color: #ffffff;
  text-align: right;
}
.button__kHvIp:global(.__wab_instance) {
  position: relative;
}
.svg__wXZuZ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7VAtI {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9Fzy0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ugohe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ubiZp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__tdldu {
  width: 100%;
  text-align: center;
  height: auto;
  min-width: 0;
}
.svg__vijim {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___8Upsj {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___8Upsj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___8Upsj > :global(.__wab_flex-container) > *,
.freeBox___8Upsj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8Upsj > :global(.__wab_flex-container) > picture > img,
.freeBox___8Upsj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__fzRdt {
  position: relative;
  object-fit: cover;
  color: #ffffff80;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__u1GY {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox___2O3ET {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 32px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox___2O3ET > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___2O3ET > :global(.__wab_flex-container) > *,
.freeBox___2O3ET > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2O3ET > :global(.__wab_flex-container) > picture > img,
.freeBox___2O3ET
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.img__ywodf {
  position: relative;
  left: auto;
  top: auto;
}
.img__j3Xsm {
  position: relative;
}
.img__oFrzw {
  position: relative;
}
.img__iFNvJ {
  position: relative;
}
.container {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  background: #f2f2f7;
  min-width: 0;
  border-radius: 16px;
  padding: 32px;
}
.container > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container > :global(.__wab_flex-container) > picture > img,
.container
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container > :global(.__wab_flex-container) > *,
  .container > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container > :global(.__wab_flex-container) > picture > img,
  .container
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.img__cufc {
  position: relative;
  object-fit: cover;
  height: 32px;
}
.img__cufc > picture > img {
  object-fit: cover;
}
.img__cufc > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__w0OaT {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__w0OaT > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__w0OaT > :global(.__wab_flex-container) > *,
.freeBox__w0OaT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w0OaT > :global(.__wab_flex-container) > picture > img,
.freeBox__w0OaT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w0OaT {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w0OaT > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w0OaT > :global(.__wab_flex-container) > *,
  .freeBox__w0OaT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__w0OaT > :global(.__wab_flex-container) > picture > img,
  .freeBox__w0OaT
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.text___8Oi8F {
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___8Oi8F {
    text-align: center;
  }
}
.button__gIeYk:global(.__wab_instance) {
  position: relative;
}
.svg__blCqi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lWi83 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0Gl1Q {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kDc36 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__o9HL {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__paXic {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
}
.freeBox__iJvrZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__iJvrZ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__iJvrZ > :global(.__wab_flex-container) > *,
.freeBox__iJvrZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iJvrZ > :global(.__wab_flex-container) > picture > img,
.freeBox__iJvrZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__ojq4B {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.text__dIqLb {
  height: auto;
  width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.textbox {
  line-height: 24px;
  position: relative;
  width: 100%;
  min-width: 0;
  border-radius: 6px;
  padding: 7px 11px;
  border: 1px solid #e5e5ea;
}
.root .textbox:focus {
  box-shadow: 0px 0px 0px 3px #007aff80;
  outline: none;
}
.button__ii2Q5:global(.__wab_instance) {
  position: relative;
}
.svg__wTSvL {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fx8WG {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vWy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jwnft {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kq56S {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___45Zdx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__u3MUs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__u3MUs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__u3MUs > :global(.__wab_flex-container) > *,
.freeBox__u3MUs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u3MUs > :global(.__wab_flex-container) > picture > img,
.freeBox__u3MUs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__nCafw {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__wxHnQ {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__wxHnQ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__wxHnQ > :global(.__wab_flex-container) > *,
.freeBox__wxHnQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wxHnQ > :global(.__wab_flex-container) > picture > img,
.freeBox__wxHnQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg___3PozY {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__rw50Q {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fCvis {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vtD5L {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mwum3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bEEk0 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__hpf:global(.__wab_instance) {
  position: relative;
}
.svg__qvgK {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__oecVs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yq6Pw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__h6ZnN {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tbyGy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___6JWkt {
  height: auto;
}
.svg__zgFwc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__aDKl:global(.__wab_instance) {
  position: relative;
}
.svg__yk2D7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__qJXq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iAr08 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ii54A {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jfGLc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___4ETtM {
  height: auto;
}
.svg__nrf8X {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__t6C9Z {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__t6C9Z > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__t6C9Z > :global(.__wab_flex-container) > *,
.freeBox__t6C9Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t6C9Z > :global(.__wab_flex-container) > picture > img,
.freeBox__t6C9Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___7Lf6N {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__avHkQ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__cqdeo {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__cqdeo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__cqdeo > :global(.__wab_flex-container) > *,
.freeBox__cqdeo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cqdeo > :global(.__wab_flex-container) > picture > img,
.freeBox__cqdeo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__xm3K {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iniXq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jKgce {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8Ly3B {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5GjQu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__htXMa {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__hFhc5:global(.__wab_instance) {
  position: relative;
}
.svg__soKi6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xkMM {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hXngc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__w70Zu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__agR {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nIx9Y {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__wmOk0:global(.__wab_instance) {
  position: relative;
}
.svg__nGbUo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oYIne {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__h1Rct {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0Af0Q {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iGe1U {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__of7W {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___83GOa:global(.__wab_instance) {
  position: relative;
}
.svg___4ABWa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fLooX {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tbQjW {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__h05K2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__luPyw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cNVlq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__oJdH {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__oJdH > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__oJdH > :global(.__wab_flex-container) > *,
.freeBox__oJdH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oJdH > :global(.__wab_flex-container) > picture > img,
.freeBox__oJdH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.button__sbhqY:global(.__wab_instance) {
  position: relative;
}
.svg__ycuxq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__t953V {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1P0Vt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bsNsn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sr1W1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9MMZ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__i9CBm:global(.__wab_instance) {
  position: relative;
}
.svg__o4FV {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fDiUa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__thsPk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__s1WQg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___3KGfx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rzcVw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__vd90P:global(.__wab_instance) {
  position: relative;
}
.svg__lwJzw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dLQeL {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cvZfD {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nr1Mn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qjeo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__n1BVt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
