.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section___5Kd0X {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___5Kd0X {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-column-gap: 0px;
    padding: 32px;
    border-top: 1px solid #e5e5ea;
  }
}
.container432 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.container432 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.container432 > :global(.__wab_flex-container) > *,
.container432 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container432 > :global(.__wab_flex-container) > picture > img,
.container432
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container432 {
    display: flex;
    position: relative;
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container432 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container432 > :global(.__wab_flex-container) > *,
  .container432 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container432 > :global(.__wab_flex-container) > picture > img,
  .container432
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.svg__wswE9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg___8FnT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cpCm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pB4Rk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tMgpQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eMd9J {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__vmKg {
  position: relative;
  color: #00000040;
}
.svg__gTvOn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__oA1JN {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__trwRj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__d1Bx2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___12Sy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vfXi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__rnSaM {
  position: relative;
  color: #00000040;
}
.svg__xLSq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__tQg27 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4MSdz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__u9AaF {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___85NdP {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2ComJ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__kmFcM {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__kmFcM {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-column-gap: 0px;
    padding: 32px;
    border-top: 1px solid #e5e5ea;
  }
}
.container4322 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container4322 > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container4322 > :global(.__wab_flex-container) > *,
.container4322 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container4322 > :global(.__wab_flex-container) > picture > img,
.container4322
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container4322 {
    max-width: 1024px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container4322 > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container4322 > :global(.__wab_flex-container) > *,
  .container4322 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container4322 > :global(.__wab_flex-container) > picture > img,
  .container4322
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 64px;
  }
}
.freeBox__lBauq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__lBauq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__lBauq > :global(.__wab_flex-container) > *,
.freeBox__lBauq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lBauq > :global(.__wab_flex-container) > picture > img,
.freeBox__lBauq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__ryPh2 {
  object-fit: cover;
}
.img__ryPh2 > picture > img {
  object-fit: cover;
}
.img__ryPh2 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__cmmq {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__cmmq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__cmmq > :global(.__wab_flex-container) > *,
.freeBox__cmmq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cmmq > :global(.__wab_flex-container) > picture > img,
.freeBox__cmmq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.img__mXAS {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__mXAS > picture > img {
  object-fit: cover;
}
.img__mXAS > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___5G2Cy {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___5G2Cy > picture > img {
  object-fit: cover;
}
.img___5G2Cy > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__woKY {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__woKY > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__woKY > :global(.__wab_flex-container) > *,
.freeBox__woKY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__woKY > :global(.__wab_flex-container) > picture > img,
.freeBox__woKY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.img__d6YH3 {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__d6YH3 > picture > img {
  object-fit: cover;
}
.img__d6YH3 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__aehCi {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__aehCi > picture > img {
  object-fit: cover;
}
.img__aehCi > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__keTyw {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__keTyw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__keTyw > :global(.__wab_flex-container) > *,
.freeBox__keTyw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__keTyw > :global(.__wab_flex-container) > picture > img,
.freeBox__keTyw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.img__gjEu {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__gjEu > picture > img {
  object-fit: cover;
}
.img__gjEu > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__wX4Fw {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__wX4Fw > picture > img {
  object-fit: cover;
}
.img__wX4Fw > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__g1N0I {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__g1N0I > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__g1N0I > :global(.__wab_flex-container) > *,
.freeBox__g1N0I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g1N0I > :global(.__wab_flex-container) > picture > img,
.freeBox__g1N0I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.text___4LgP {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  position: relative;
}
.price:global(.__wab_instance) {
  position: relative;
}
.text__vOffE {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text__o5V3D {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text__e0Bww {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.freeBox___1WDiZ {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___1WDiZ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___1WDiZ > :global(.__wab_flex-container) > *,
.freeBox___1WDiZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1WDiZ > :global(.__wab_flex-container) > picture > img,
.freeBox___1WDiZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.img__wOcm {
  position: relative;
  object-fit: cover;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
.img__wOcm > picture > img {
  object-fit: cover;
}
.img__wOcm > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__f0Izv {
  position: relative;
  object-fit: cover;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
.img__f0Izv > picture > img {
  object-fit: cover;
}
.img__f0Izv > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__czCNj {
  position: relative;
  object-fit: cover;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
.img__czCNj > picture > img {
  object-fit: cover;
}
.img__czCNj > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___3PIya {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___3PIya > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___3PIya > :global(.__wab_flex-container) > *,
.freeBox___3PIya > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3PIya > :global(.__wab_flex-container) > picture > img,
.freeBox___3PIya
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__gQyOg {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  height: auto;
}
.freeBox__kiJqs {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__kiJqs > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__kiJqs > :global(.__wab_flex-container) > *,
.freeBox__kiJqs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kiJqs > :global(.__wab_flex-container) > picture > img,
.freeBox__kiJqs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 8px;
}
.svg__iCuqg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wnQn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7AuKx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__miAxr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vWmr5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uhwjQ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__h1DH {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uuoWg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jzsgo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uavfd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uoGej {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__gzhwn {
  width: auto;
  display: inline-block;
}
.svg__bs9Al {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__fKVbY {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cN66Q {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wmsiA {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wNvEv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xvzfi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__bPMiy {
  width: auto;
  display: inline-block;
}
.svg__ebiJo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__s11Nz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iDzo0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xm6Z {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zv4M7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jivyd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__kjkTz {
  width: auto;
  display: inline-block;
}
.svg__bkPar {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__sS5Q8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ree98 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9Wgd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kdrfh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8EZp7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___8X3Md {
  width: auto;
  display: inline-block;
}
.svg__bdNTm {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ujvMy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gTefr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__d82Vl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hsh6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hOtW8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__cHlel {
  width: auto;
  display: inline-block;
}
.svg__fEn1K {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__c3Lo5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__csVft {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__g2Sn1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vohsu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hubmw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__qCk86 {
  width: auto;
  display: inline-block;
}
.svg__hXqtu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__i4ERa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hyrdi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5Ohm8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zaaoi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ineDy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__o0BIp {
  width: auto;
  display: inline-block;
}
.svg__p8OTx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___75IHm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___34Wvx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xwD0Q {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bYmK7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__aICj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__fSrx {
  width: auto;
  display: inline-block;
}
.svg__nksfu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__quHzP {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9ZYpP {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__aDl88 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__m2O0U {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dL4Vh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__tuiu {
  width: auto;
  display: inline-block;
}
.svg__f598W {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ubvSz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__v2J8X {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__arF9K {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dvMcM {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xMnN2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__z1Stc {
  width: auto;
  display: inline-block;
}
.svg__wxPzY {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__bIBii {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zkmoT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__isOGf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ldcjU {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__o3FU {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__hehKp {
  width: auto;
  display: inline-block;
}
.svg__aItcs {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__wfkMk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7B7Bv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rYpjA {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mzPxt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hx7Ic {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__xyTj {
  width: auto;
  display: inline-block;
}
.svg__xBGc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___3VVAv {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox___3VVAv > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___3VVAv > :global(.__wab_flex-container) > *,
.freeBox___3VVAv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3VVAv > :global(.__wab_flex-container) > picture > img,
.freeBox___3VVAv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3VVAv {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3VVAv > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3VVAv > :global(.__wab_flex-container) > *,
  .freeBox___3VVAv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___3VVAv > :global(.__wab_flex-container) > picture > img,
  .freeBox___3VVAv
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__rd8Aw {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__rd8Aw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__rd8Aw > :global(.__wab_flex-container) > *,
.freeBox__rd8Aw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rd8Aw > :global(.__wab_flex-container) > picture > img,
.freeBox__rd8Aw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__jJwJl {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  height: auto;
}
.button__oQHwD:global(.__wab_instance) {
  position: relative;
}
.svg__yDnxN {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xQt8V {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oY7Hv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mMpO9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qv0R {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sTa2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__d0Uyi {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__d0Uyi > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__d0Uyi > :global(.__wab_flex-container) > *,
.freeBox__d0Uyi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d0Uyi > :global(.__wab_flex-container) > picture > img,
.freeBox__d0Uyi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__rV9I7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uaWnr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ctxa5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ya3Ib {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__byvI7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__endhx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__pMeT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5AdKv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___13Lc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ajHh5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mDf84 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oNtU {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.separator__ySc73:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__m7YxM {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__m7YxM > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__m7YxM > :global(.__wab_flex-container) > *,
.freeBox__m7YxM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m7YxM > :global(.__wab_flex-container) > picture > img,
.freeBox__m7YxM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__exaQp {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  height: auto;
}
.text__sSlCw {
  height: auto;
}
.separator__wnRdB:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__hjktR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__hjktR > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__hjktR > :global(.__wab_flex-container) > *,
.freeBox__hjktR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hjktR > :global(.__wab_flex-container) > picture > img,
.freeBox__hjktR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__xTsXa {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  height: auto;
}
.text__tULhi {
  height: auto;
}
.separator__qTB:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text__p8Vup {
  height: auto;
}
.separator__zegdX:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text__cqjdz {
  height: auto;
}
.separator__fbxRi:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text__z56Le {
  height: auto;
}
.section__buNz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  background: #f2f2f7;
}
.container42 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox___40Yw {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__t9S7N {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__z2G80:global(.__wab_instance) {
  position: relative;
}
.svg__xDxb1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__npYjL {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jeeW9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ruhPx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eYbxS {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ugdzs {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container5 {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  align-items: center;
  min-width: 0;
}
.freeBox__v4Jva {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 32px;
}
.freeBox__v4Jva > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__v4Jva > :global(.__wab_flex-container) > *,
.freeBox__v4Jva > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v4Jva > :global(.__wab_flex-container) > picture > img,
.freeBox__v4Jva
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.img__qvP8Z {
  object-fit: cover;
  max-height: 200px;
  position: relative;
}
.img__qvP8Z > picture > img {
  object-fit: cover;
}
.img__qvP8Z > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg__hOrAi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vA4Wr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__oHwV8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gb6Ap {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__as35F {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ya6Vy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___6WrwG {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__u0T54 {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: oue-2wLnKUNx */;
  text-align: left;
  min-width: 0;
}
.text__nb4Tw {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text__uiAEz {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text__bsbyu {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard__tSBxq:global(.__wab_instance) {
  position: relative;
}
.img__pche1 {
  object-fit: cover;
  max-height: 200px;
  position: relative;
}
.img__pche1 > picture > img {
  object-fit: cover;
}
.img__pche1 > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg__oolWv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9H3Yi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__dxTa6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0WdXr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9LaPk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eZtRr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__u8Kw {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__ahYl9 {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: oue-2wLnKUNx */;
  text-align: left;
  min-width: 0;
}
.text__y2W0U {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text__pqiY6 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text___81WB9 {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard___7ZSzU:global(.__wab_instance) {
  position: relative;
}
.img__rMu74 {
  object-fit: cover;
  max-height: 200px;
  position: relative;
}
.img__rMu74 > picture > img {
  object-fit: cover;
}
.img__rMu74 > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg__x5EGa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mIsq8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__enC2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nKSbO {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oyeNv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cmUYj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__nxPjo {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___0JLxH {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: oue-2wLnKUNx */;
  text-align: left;
  min-width: 0;
}
.text__lF57Q {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text__fO55T {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text___8CXDs {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard___95Kzc:global(.__wab_instance) {
  position: relative;
}
.img__nyAwA {
  object-fit: cover;
  max-height: 200px;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.img__nyAwA > picture > img {
  object-fit: cover;
}
.img__nyAwA > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg__hu0Yz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9WI3J {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__xxywo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hiGoh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__it9Vy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1MwN {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__yRwwq {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__hzyVm {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: oue-2wLnKUNx */;
  text-align: left;
  min-width: 0;
}
.text__d5Cuw {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text__vdWdS {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text__cjpRx {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard__iF0Pb:global(.__wab_instance) {
  position: relative;
}
.img__h1Oc7 {
  object-fit: cover;
  max-height: 200px;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.img__h1Oc7 > picture > img {
  object-fit: cover;
}
.img__h1Oc7 > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg__zRtmg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ulA0Y {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__v1Hx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__t3G1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___3X5C {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ckEt1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___48CiA {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__ilihO {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: oue-2wLnKUNx */;
  text-align: left;
  min-width: 0;
}
.text__wokjw {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text___1HOhb {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text__paeGa {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard___7BzO:global(.__wab_instance) {
  position: relative;
}
.img___3JXa {
  object-fit: cover;
  max-height: 200px;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.img___3JXa > picture > img {
  object-fit: cover;
}
.img___3JXa > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg__xyKc5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hilOq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__wSl7G {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lcHy5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gpncz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___87KF {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__zXnHj {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__e5J {
  width: 100%;
  height: auto;
  text-align: left;
  color: #666666 /* plasmic-token: oue-2wLnKUNx */;
  min-width: 0;
}
.text__uAw3W {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text___7XZep {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text__hFe6 {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.footer:global(.__wab_instance) {
  position: relative;
}
.freeBox___5JMcg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___5JMcg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___5JMcg > :global(.__wab_flex-container) > *,
.freeBox___5JMcg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5JMcg > :global(.__wab_flex-container) > picture > img,
.freeBox___5JMcg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__co5EM {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.text__wl34R {
  height: auto;
  width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.textbox {
  line-height: 24px;
  position: relative;
  width: 100%;
  min-width: 0;
  border-radius: 6px;
  padding: 7px 11px;
  border: 1px solid #e5e5ea;
}
.root .textbox:focus {
  box-shadow: 0px 0px 0px 3px #007aff80;
  outline: none;
}
.button__g6Ma3:global(.__wab_instance) {
  position: relative;
}
.svg__utHww {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lW0Jq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2CyDa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xTcSv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__v5IXy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zlt42 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__ntPc4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__ntPc4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ntPc4 > :global(.__wab_flex-container) > *,
.freeBox__ntPc4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ntPc4 > :global(.__wab_flex-container) > picture > img,
.freeBox__ntPc4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__hevEm {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__mgvuF {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__mgvuF > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__mgvuF > :global(.__wab_flex-container) > *,
.freeBox__mgvuF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mgvuF > :global(.__wab_flex-container) > picture > img,
.freeBox__mgvuF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__rEpLz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__h8MGz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vpLgu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oRpSx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__l2VL {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kGsvB {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ohl3W:global(.__wab_instance) {
  position: relative;
}
.svg__x4YV6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__xKl0O {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zfYrK {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iy6Ow {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wG94 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__vW35 {
  height: auto;
}
.svg__yrTy9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__u6Hfq:global(.__wab_instance) {
  position: relative;
}
.svg__jkxc9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__mempD {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yijtd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uPkUg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fA0A {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__qlzVz {
  height: auto;
}
.svg__gfjsJ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__oIzig {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__oIzig > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__oIzig > :global(.__wab_flex-container) > *,
.freeBox__oIzig > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oIzig > :global(.__wab_flex-container) > picture > img,
.freeBox__oIzig
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___4Xmff {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__jjnMu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox___3RRIp {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___3RRIp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___3RRIp > :global(.__wab_flex-container) > *,
.freeBox___3RRIp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3RRIp > :global(.__wab_flex-container) > picture > img,
.freeBox___3RRIp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__wuPl5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ilW9U {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lMda2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2RjaK {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kfGei {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__f8VKc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___4DaZm:global(.__wab_instance) {
  position: relative;
}
.svg__c5Ui8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__asDTs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bKwq2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mmavr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cpXtQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jYlQc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__tQkWu:global(.__wab_instance) {
  position: relative;
}
.svg___6JjCt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__f0Cjz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__i6Kau {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kchaz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__v3Ps5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__s9I9K {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__iR7Nv:global(.__wab_instance) {
  position: relative;
}
.svg__rUd30 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qixUc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vct14 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mfbGh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wPdO {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cJv8F {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__fnTk9 {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__fnTk9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__fnTk9 > :global(.__wab_flex-container) > *,
.freeBox__fnTk9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fnTk9 > :global(.__wab_flex-container) > picture > img,
.freeBox__fnTk9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.button__nRkI1:global(.__wab_instance) {
  position: relative;
}
.svg__vIuNo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oLBq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lztR1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ybyUf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7Cyvw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jGnMd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___3C2H1:global(.__wab_instance) {
  position: relative;
}
.svg__wzpYc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sQzqX {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fb2Z0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0Z9Oc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iKxyC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8CdDp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__pCrRl:global(.__wab_instance) {
  position: relative;
}
.svg__mEkTk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__shYx4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qIkFv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mk1GK {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rTbyW {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5TsgP {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
